# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.vite
*.local

# Editor directories and files
.idea
!.idea/deno.xml
!.idea/icon.png
!.idea/icon.svg
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# custom
apps/backend/functions/.env
deno.lock
.env
cron_jobs.sql

# web
apps/frontend/src/i18n/locales/*/messages.js
apps/frontend/src/i18n/locales/*/messages.mjs
