@import "../item/feed-item.module.css";
@import "../track/track.module.css";

.feed {
  position: relative;

  .feed__fetching {
    position: absolute;
    top: -150px;
    right: 0;
  }

  .feed__load-more {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }

  .feed__load-more-button {
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}

.feed_row {
  padding-top: 10px;
  background: transparent;

  transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);

  &:first-child {
    padding-top: 0;
  }

  /* desktop only */
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      padding-top: 30px;
      padding-bottom: 30px;

      margin-left: -10px;
      margin-right: -10px;
    }
  }

  /* mobile only */
  &.isOpen {
    padding-top: 30px;
    padding-bottom: 30px;

    margin-left: -10px;
    margin-right: -10px;

    .track_item {
      padding: 20px 15px;
    }
  }

  &:first-child {
    &:hover {
      padding-top: 0;
    }
  }
}

.track_item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  padding: 10px 15px;

  border-radius: 6px;

  border: 1px solid
    color-mix(in oklab, var(--color-neutral-700)75%, transparent);
  background: color-mix(in oklab, var(--color-neutral-900)55%, transparent);

  transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: #1e1e1e;
    border-color: #636363;

    box-shadow:
      rgba(0, 0, 0, 0) 0 0 0 0,
      rgba(0, 0, 0, 0) 0 0 0 0,
      rgba(0, 0, 0, 0) 0 0 0 0,
      rgba(0, 0, 0, 0) 0 0 0 0,
      rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
  }
}
