.track_side {
  max-width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  .track {
    max-width: 100%;
    text-wrap: balance;
    padding: 5px 0;
    overflow: hidden;
  }

  .artist {
    max-width: 80%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    /* typo */
    font-size: 90%;
    opacity: 0.8;

    .artist__name {
      text-wrap: nowrap;
    }

    .artist__album {
      max-width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;

      /* typo */
      padding-left: 10px;
      opacity: 0.6;
      font-size: 90%;
      text-wrap: nowrap;

      svg {
        padding-right: 4px;
      }

      span {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.user_side {
  min-width: 95px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  font-size: 80%;
  line-height: 80%;

  .listened_at {
    font-size: 80%;
    text-wrap: balance;
    opacity: 0.6;

    padding-bottom: 5px;
  }

  .user {
    text-align: right;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;

      padding: 2px;
      border-radius: 2px;

      color: #656565;

      &:hover {
        color: #fff;
      }

      svg {
        margin-right: 3px;
      }
    }
  }
}
