.index-view {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 150px;

  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
}

@media (max-width: 800px) {
  .index-view {
    h1 {
      margin: 0;
      padding: 0;
    }
    h2 {
      margin: 10px 0;
    }
  }
}
