select {
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  border: 1px solid
    color-mix(in oklab, var(--color-neutral-700) 75%, transparent);
  background-color: transparent;
  color: inherit;
  font-size: 14px;
  cursor: pointer;

  appearance: base-select; /* not supported in firefox at them moment - may 2026 */

  /** arrow */
  &::picker-icon {
    font-size: 0.5rem;
    align-content: center;
    transition: 150ms ease;
  }

  &:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px var(--color-primary-focus);
  }

  option {
    background-color: var(--color-bg-dropdown);
    color: var(--color-text-dropdown);

      &:checked {
          background-color: var(--color-primary);
      }
  }
}
