#root {
  width: 1280px;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 1rem;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.footer {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;

  opacity: 0.6;
  font-size: 80%;

  transition: opacity 0.5s ease-in-out;

  &:hover {
    opacity: 1;
  }

  a {
    &:hover {
      color: inherit;
      background: inherit;
    }
  }
}
