:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-blue: #5289ff;
  ---color-blue-dark: #3a74fa;
  --color-gray: #c4c4c4;

  --color-neutral-700: oklch(0.371 0 0);
  --color-neutral-900: oklch(0.205 0 0);
}

html, :host {
  -webkit-tap-highlight-color: transparent;
}

a {
  font-weight: 500;
  color: var(--color-blue);
  text-decoration: inherit;
}

a:hover {
  color: #fff;
  background: var(---color-blue-dark);
  text-decoration: none;
  padding: 2px;
  border-radius: 4px;
}

body {
  display: flex;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-blue);
}

h2 {
  color: var(--color-gray);
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    padding-right: 10px;
  }
}

button {
  border-radius: 8px;
  border: 1px solid
    color-mix(in oklab, var(--color-neutral-700) 75%, transparent);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  border-color: #636363;
}

button:active {
  background-color: #0f0f0f;
}

button:focus,
button:focus-visible {
  outline: none;
}
